# Байт-код, оптимизированные / DLL-файлы
__pycache__/
*.py[cod]

# Файлы конфигурации для venv
venv/

# Контрольные точки в Jupyter notebook лучше оставить в стороне
.ipynb_checkpoints
.vscode
/app/
/bot.py
/bot.sh
/demobot.service
/docker-compose.yml
/dockerfile
/locale
