[Unit]
Description=dembot
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/home/aga-c4/unibot/bot.sh demo start --custom demo

[Install]
WantedBy=default.target
